.goScheduleBtn {
  position: relative;
  width: 340px;
  height: 60px;
  left: 550px;
  top: 300px;

  background: #2962ff;
  border-radius: 30px;

  span {
    position: absolute;
    left: 30.29%;
    right: 30.29%;
    top: 25%;
    bottom: 25%;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #ffffff;
  }
}
