.mainVy__grid {
  overflow: auto;
  overflow-x: hidden;

  box-sizing: border-box;

  position: relative;
  width: 700px;
  height: 400px;
  //  min-height: 400px;
  left: 370px;
  top: 216px;

  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;

  padding-bottom: 15px;
}

.grid__grid-header {
  width: 700px;
  height: 20px;
  left: 0px;
  top: 0px;

  background: #849fe5;
  border-radius: 0px;

  display: grid;
  grid-template-columns: 2.3fr 1fr 1fr 1fr 1fr 1.2fr;
  align-items: center;

  text-align: center;

  span {
    width: 60px;
    height: 18px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
  }
  span:first-child {
    margin-left: 50px;
  }
  span:not(:first-child) {
    //    padding-left: 15px;
  }
}

.grid__contents {
  div {
    display: grid;
    grid-template-columns: 2.3fr 1.2fr 1fr 1fr 1fr 1.2fr;
    grid-template-rows: auto;

    padding-bottom: 8px;

    span {
      min-width: 40px;

      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      padding-top: 15px;
    }
    span:nth-child(6n + 1) {
      padding-left: 40px;
    }
    span:not(:nth-child(6n + 1)) {
      padding-left: 15px;
    }

    .grid__contents__className,
    .grid__contents__Professor {
      font-weight: 600 !important;
    }
    .grid__contents__ClassTime {
      font-size: 13px;
    }
  }
}

.grid__contents__columns {
  &:hover {
    background: rgba(118, 143, 255, 0.2);
  }
}
